.FormControl{
    width: 30%;
    margin-bottom: 50px !important;
    margin-top: 10px !important;
    
}
@media (max-width:768px){
    .FormControl{
        width: 100%;
        margin-bottom: 10px !important;
    }
    
}