.table-data{
  margin-top: 80px;
}

table tbody {
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
}
table thead,
table tbody,
table tr,
table td,
table th {
  display: block;
}
table tbody td,
table tbody th,
table thead > tr > th {
  float: left;
  position: relative;
}
table > thead > tr > th ::after {
  content: "";
  clear: both;
  display: block;
}

@media (max-width: 320px) {
  .table-data {
    max-width: 250px;
    margin-bottom: 10%;
    margin-top: -20px;
  }
  table tbody {
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
  }

  table tr,
  table td,
  table th {
    display: flex;
  }
  table tbody td,
  table tbody th,
  table thead > tr > th {
    float: left;
    position: relative;
  }
  table > thead > tr > th ::after {
    content: "";
    clear: both;
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 450px) {
  .table-data {
    max-width: 250px;
    margin-bottom: 10%;
    margin-top: -20px;
  }
  table tbody {
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
  }

  table tr,
  table td,
  table th {
    display: flex;
  }
  table tbody td,
  table tbody th,
  table thead > tr > th {
    float: left;
    position: relative;
  }
  table > thead > tr > th ::after {
    content: "";
    clear: both;
    display: block;
  }
}
@media (max-width: 768px) {
  .table-data {
    margin-bottom: 10%;
    margin-top: -20px;
  }
  table tbody {
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
  }

  table tr,
  table td,
  table th {
    display: flex;
  }
  table tbody td,
  table tbody th,
  table thead > tr > th {
    float: left;
    position: relative;
  }
  table > thead > tr > th ::after {
    content: "";
    clear: both;
    display: block;
  }
}

@media (min-width: 1100px) {
  .table-data {
    width: 1000px;
    margin-bottom: 10%;
    margin-top: 80px;
  }
}

@media (max-width: 1100px) {
  .table-data {
    margin-bottom: 10%;
    margin-top: -5px;
    width: 90%;
  }
  table tbody {
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
  }
  table tr,
  table td,
  table th {
    display: flex;
  }
  table tbody td,
  table tbody th,
  table thead > tr > th {
    float: left;
    position: relative;
  }
  table > thead > tr > th ::after {
    content: "";
    clear: both;
    display: block;
  }
}
