body {
  background-color: rgb(250, 250, 250);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card {
  margin: 0 2% !important;
}

.hotline {
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}


.hoaxcards:hover{
  background-color: rgb(243, 243, 243);
  transition: 0.2s all ease;
  font-weight: bold;
}

.call{
  margin-top: 15px;
  font-weight: 350;
  text-align: center;
}

.image {
  width: 370px;
  margin-top: 50px;
}

.telptext:hover{
  text-decoration: none;
  transition: all 0.2s ease;
}


@media (max-width: 804px) {
  .container {
    margin: 0 10%;
  }
}

* {
  margin: 0;
  padding: 0;
}
